
    
h1 {
    color : #FFFFFF;
    text-align: left; 
    font-size: 60px;
    font-weight: normal; 
}
p {
    color : #BDBDBD;
    text-align: left; 
    font-size: smaller;
    line-height: 1.6;
    margin-top: -10px;
}
body{
    background-color : #070606;
    font-family:'Raleway', sans-serif; 
    margin: 60px;

}

.button {
    background-color: #2B892E; 
    border: none;
    border-radius: 29px;
    color: #FFFFFF;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

img {
    margin-top: 60px;
    display: block;
    max-width:700px;
    max-height:500px;
    width: auto;
    height: auto;
}